/*标题开始*/
.uni-section {
	position: relative;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 20upx;
	height: 70upx;
	background-color: #f8f8f8;
	font-weight: 400;
}

.uni-section__head {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 10px;
}

.line {
	height: 30upx;
	background-color: silver;
	border-radius: 10upx;
	width: 4upx;
}

.uni-section__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #333;
}

.distraction {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	color: #333;
}

/*标题结束*/

/*输入框旁边的选择按钮的样式开始*/

.chooseBtn{
	position: relative;
	float: right;
	margin-top: -52upx;
	color: #007AFF;
	margin-right: 20upx;
}

/*输入框旁边的选择按钮的样式结束*/

/*列表为空时展示的内容的样式开始*/

.empty-box{
	box-sizing: border-box;
	width: 100%;
	padding: 22px;
	text-align: center;
}

.empty-box .empty-icon{
	width: 45%;
	height: 330upx;
}

.empty-box .empty-tip{
	margin-top: 11px;
	font-size: 13px;
	color: gray;
}

/*列表为空时展示的内容的样式结束*/

/**/
/*数据列表样式开始*/
.pd-li {
	position: relative;
	height: auto;
	padding: 20upx 16upx 20upx 16upx;
	border-bottom: 1upx solid #eee;
}

.pd-li .pd-order-num{
	font-size: 30upx;
	line-height: 40upx;
	background-color: #E8E8E8;
	width: calc(100% + 40upx);
	margin-left: -20upx;
	padding-left: 20upx;
	padding-top: 14upx;
	padding-bottom: 14upx;
}

.pd-li .pd-name, .pd-li .pd-pro-name, .pd-li .pd-pro-type {
	font-size: 26upx;
	line-height: 40upx;
	height: auto;
	margin-bottom: 8upx;
	overflow: hidden;
}

.pd-li .pd-order-num .left-content,
.pd-li .pd-name .left-content,
.pd-li .pd-pro-name .left-content,
.pd-li .pd-pro-type .left-content{
	color: #999;
}

.pd-li .pd-order-num .right-content,
.pd-li .pd-name .right-content,
.pd-li .pd-pro-name .right-content,
.pd-li .pd-pro-type .right-content{
	color: #555;
}

.pd-li .pd-bottom .pd-state-name {
	font-size: 24upx;
	color: gray;
}

.pd-li .pd-bottom .pd-operator{
	position: absolute;
	right: 0px;
	bottom: 30upx;
}

.pd-li .pd-bottom .pd-operator button{
	font-size: 24upx;
	padding: 10upx 10upx;
	line-height: 24upx;
	float: left;
	margin-right: 10upx;
	color: #1E9FFF;
	border: 1px solid #1E9FFF;
}

.pd-li .pd-bottom .pd-operator .normor{
	color: #009C82;
	border: 1px solid #009C82;
}

.pd-li .pd-bottom .pd-operator .danger{
	color: #E04B28;
	border: 1px solid #E04B28;
}

/****************第二套开始***************/

.bean-li{
	position: relative;
	height: auto;
	padding: 20upx 16upx 20upx 16upx;
	border-bottom: 1upx solid #eee;
}

.bean-li .bean-title{
	font-size: 30upx;
	line-height: 40upx;
	background-color: #E8E8E8;
	padding-left: 20upx;
	padding-top: 14upx;
	padding-bottom: 14upx;
}

.bean-li .bean-item{
	font-size: 26upx;
	line-height: 40upx;
	height: auto;
	padding-left: 20upx;
	margin-bottom: 8upx;
	overflow: hidden;
}

.bean-li .bean-item .left-content{
	color: #999;
}

.bean-li .bean-item .right-content{
	color: #555;
}

.bean-li .bean-bottom{
	position: absolute;
	right: 15upx;
	bottom: 30upx;
}

.bean-li .bean-bottom button{
	font-size: 24upx;
	padding: 10upx 10upx;
	line-height: 24upx;
	float: left;
	margin-right: 10upx;
	color: #1E9FFF;
	border: 1px solid #1E9FFF;
}

.bean-li .bean-bottom .normor{
	color: #009C82;
	border: 1px solid #009C82;
}

.bean-li .bean-bottom .danger{
	color: #E04B28;
	border: 1px solid #E04B28;
}
/*数据列表样式结束*/