/*标题开始*/
.uni-section {
	position: relative;
	display: flex;
	margin-top: 5px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 10px;
	height: 40px;
	background-color: #f8f8f8;
	font-weight: 400;
}

.uni-section__head {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 10px;
	height: 10px;
}

.line {
	height: 15px;
	background-color: silver;
	border-radius: 5px;
	width: 3px;
}

.uni-section__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #333;
}

.distraction {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	font-size: 14px;
	color: #333;
}

/*标题结束*/


