/* lyTree-start */
.ly-tree {
	position: relative;
	cursor: default;
	background: #FFF;
	color: #606266;
	padding: 30rpx;
}

.ly-tree-node {
	white-space: nowrap;
	outline: 0
}

.ly-tree-node:focus>.ly-tree-node__content {
	background-color: #F5F7FA
}

.ly-tree-node__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 70rpx;
	cursor: pointer
}

.ly-tree-node__content>.ly-tree-node__expand-icon {
	padding: 12rpx;
}

.ly-tree-node__checkbox {
	display: flex;
	margin-right: 16rpx;
	width: 40rpx;
	height: 40rpx;
}

.ly-tree-node__checkbox>image {
	width: 40rpx;
	height: 40rpx;
}

.ly-tree-node__expand-icon {
	cursor: pointer;
	color: #C0C4CC;
	font-size: 28rpx;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.ly-tree-node__expand-icon.expanded {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.ly-tree-node__expand-icon.is-leaf {
	color: transparent;
	cursor: default
}

.ly-tree-node__icon {
	width: 34rpx;
	height: 34rpx;
	overflow: hidden;
	margin-right: 16rpx;
}

.ly-tree-node__label {
	font-size: 28rpx
}

.ly-tree-node__loading-icon {
	margin-right: 16rpx;
	font-size: 28rpx;
	color: #C0C4CC;
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite
}

.ly-tree-node>.ly-tree-node__children {
	overflow: hidden;
	background-color: transparent
}

.ly-tree-node>.ly-tree-node__children.collapse-transition {
	transition: height .3s ease-in-out;
}

.ly-tree-node.is-expanded>.ly-tree-node__children {
	display: block
}

.ly-tree--highlight-current .ly-tree-node.is-current>.ly-tree-node__content {
	background-color: #F5F7FA
}

.ly-tree-node_collapse {
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;
}
/* lyTree-end */

/* lyRadio/lyCheckbox-start */
.ly-checkbox,
.ly-radio {
	color: #606266;
	font-weight: 500;
	font-size: 28rpx;
	cursor: pointer;
	user-select: none;
	margin-right: 16rpx
}

.ly-checkbox__input,
.ly-radio__input {
	cursor: pointer;
	outline: 0;
	line-height: 1;
	vertical-align: middle
}

.ly-checkbox__input.is-disabled .ly-checkbox__inner,
.ly-radio__input.is-disabled .ly-radio__inner {
	background-color: #edf2fc;
	border-color: #DCDFE6;
	cursor: not-allowed
}

.ly-checkbox__input.is-disabled .ly-checkbox__inner::after,
.ly-radio__input.is-disabled .ly-radio__inner::after {
	cursor: not-allowed;
	border-color: #C0C4CC
}

.ly-checkbox__input.is-disabled .ly-checkbox__inner+.ly-checkbox__label,
.ly-radio__input.is-disabled .ly-radio__inner+.ly-radio__label {
	cursor: not-allowed
}

.ly-checkbox__input.is-disabled.is-checked .ly-checkbox__inner,
.ly-radio__input.is-disabled.is-checked .ly-radio__inner {
	background-color: #F2F6FC;
	border-color: #DCDFE6
}

.ly-checkbox__input.is-disabled.is-checked .ly-checkbox__inner::after,
.ly-radio__input.is-disabled.is-checked .ly-radio__inner::after {
	border-color: #C0C4CC
}

.ly-checkbox__input.is-disabled.is-indeterminate .ly-checkbox__inner {
	background-color: #F2F6FC;
	border-color: #DCDFE6
}

.ly-checkbox__input.is-disabled.is-indeterminate .ly-checkbox__inner::before {
	background-color: #C0C4CC;
	border-color: #C0C4CC
}

.ly-checkbox__input.is-checked .ly-checkbox__inner,
.ly-radio__input.is-checked .ly-radio__inner,
.ly-checkbox__input.is-indeterminate .ly-checkbox__inner {
	background-color: #409EFF;
	border-color: #409EFF
}

.ly-checkbox__input.is-disabled+text.ly-checkbox__label,
.ly-radio__input.is-disabled+text.ly-radio__label {
	color: #C0C4CC;
	cursor: not-allowed
}

.ly-checkbox__input.is-checked .ly-checkbox__inner::after,
.ly-radio__input.is-checked .ly-radio__inner::after {
	-webkit-transform: rotate(45deg) scaleY(1);
	transform: rotate(45deg) scaleY(1)
}

.ly-checkbox__input.is-checked+.ly-checkbox__label,
.ly-radio__input.is-checked+.ly-radio__label {
	color: #409EFF
}

.ly-checkbox__input.is-focus .ly-checkbox__inner,
.ly-radio__input.is-focus .ly-radio__inner {
	border-color: #409EFF
}

.ly-checkbox__input.is-indeterminate .ly-checkbox__inner::before {
	content: '';
	position: absolute;
	display: block;
	background-color: #FFF;
	height: 6rpx;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	left: 0;
	right: 0;
	top: 10rpx
}

.ly-checkbox__input.is-indeterminate .ly-checkbox__inner::after {
	display: none
}

.ly-checkbox__inner,
.ly-radio__inner {
	display: inline-block;
	position: relative;
	border: 2rpx solid #DCDFE6;
	border-radius: 4rpx;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 28rpx;
	height: 28rpx;
	background-color: #FFF;
	z-index: 1;
	-webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
	transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.ly-radio__inner {
	border-radius: 50%;
}

.ly-checkbox__inner::after,
.ly-radio__inner::after {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	content: "";
	border: 2rpx solid #FFF;
	border-left: 0;
	border-top: 0;
	height: 14rpx;
	left: 10rpx;
	position: absolute;
	top: 2rpx;
	-webkit-transform: rotate(45deg) scaleY(0);
	transform: rotate(45deg) scaleY(0);
	width: 6rpx;
	-webkit-transition: -webkit-transform .15s ease-in .05s;
	transition: -webkit-transform .15s ease-in .05s;
	transition: transform .15s ease-in .05s;
	transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
	-webkit-transform-origin: center;
	transform-origin: center
}
/* lyRadio/lyCheckbox-end */

/* lyLoader-start */
.ly-loader {
	margin-top: 100rpx;
}

.ly-loader-inner,
.ly-loader-inner:before,
.ly-loader-inner:after {
	background: #efefef;
	animation: load 1s infinite ease-in-out;
	width: .5em;
	height: 1em;
}

.ly-loader-inner:before,
.ly-loader-inner:after {
	position: absolute;
	top: 0;
	content: '';
}

.ly-loader-inner:before {
	left: -1em;
}

.ly-loader-inner {
	text-indent: -9999em;
	position: relative;
	font-size: 22rpx;
	animation-delay: 0.16s;
}

.ly-loader-inner:after {
	left: 1em;
	animation-delay: 0.32s;
}
/* lyLoader-end */

/* other-start */
.ly-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.ly-space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ly-flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.ly-empty {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 100rpx;
}
/* other-end */

/* iconfont-start */
@font-face {
	font-family: "ly-iconfont";
	src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAPsAAsAAAAACKwAAAOeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqFDIQPATYCJAMMCwgABCAFhG0HQBtfB8gekiSCdAwUAKgCFMA5Hj7H0PeTlABUr57PVyGqugqzSWJnNwWoWJjx/9rUr4TPL1ZSQpU2mycqwoRwIN3p+MkqMqyEW+OtMBLPSUBb8v//XtWMKTavxYIUsT/Wy1qbQzkBDOYEKGB7dVpPyVqgCnJNwvMvhZl10nMCtQbFoPVhY8ZDncJfF4grbqpQ13AqE52hWqgcOFrEQ6hWnW5VfMCD7Pfjn4WoI6nI/K0bl0MNGPBz0qcflVqYnvCA4vNDPUXGPFCIw8HgtsqiOK9SrW2smm6sVITElWlpISMdVBn8wyMJopLfXg+myZ48KCrSkvj9g37U1ItbXYke4APwXxK3N4TuehyBfmM0I3zbNdt7uk3VnjPtzX0rnIl7z7bZvb/thHohsu9QuykKo+Cws4nL7LsPmI3n2qN9B9upZEIKd4hu0NCKi0rt7fNtdl+I1N25hOJMDQK6odS123tROR7Pg8toEhDaF+kR0TYjxW6M58F5+ZNQOxmZHtE2g+IYjxjlNy/yIRQpCmrgq5R4/3jx8PvT8Ha8d3/xiLnt4EGyaDnznzRv8vpyZ+9TFHf/ntX9e59A+b6+fPHd5+dy0wYHVvHOroWbnWe879O9DnL53bN/gUHuwm28b/n8i/V3ry4E3IoXNqS6Rvs0LhJxeNVjoUkM3LKosU+0a6rh45FVvLt+2oz7Zd53b4QOy7/9snDXHbqVu+A+f8r7PnM2H8kXrWm5c8/vLu7LqRee7HW637mz3kHc5U/RCXf25d7G8tkdgEfwIpzpkknGpaMw3ww55q9Mn9OQNyua/wB/49OOWydn4eL/6roCfjx6FMmcxfJStYRKfd3UwoHiML4rF4uMSK+SvYTuNxMHrpl8yd3Q6v32cAeo/KFaowBJlQHIqo3zi3geKtRZhErVlqDWnOGn67QRKkWpwaw1AkKza5A0egFZszf8In4HFTp9h0rNUQm1NqP1lXUmgyuDBVUlNYi2gHA98FnokUreOZaac1xV1JlMMZGKEs+QdCLVrgynPhUcO0pzzYyUjDAReGSYeBl13YCEIrCpLhOWlGE+mWRD35TQAw8UawRKJVEGQrMAwekCPpaMlpTOz49FmeZwqcREX1t3Ikoo4dMTaQmpBfzhRn9R30uZXTKXKUOSmLSKEQIeYhjqKZcrcIzhMLLRrJMSrA35UF4yGMaWGhPHm733dwJq+Z/NkSJHUXemCirjgpuWrHMD1eC+mQUAAAA=') format('woff2');
}

.ly-iconfont {
	font-family: "ly-iconfont" !important;
	font-size: 30rpx;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ly-icon-caret-right:before {
	content: "\e8ee";
}

.ly-icon-loading:before {
	content: "\e657";
}
/* iconfont-end */

/* animate-start */
@keyframes rotating {
	0% {
		-webkit-transform: rotateZ(0);
		transform: rotateZ(0)
	}

	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg)
	}
}

@keyframes load {
	0%,
	80%,
	100% {
		box-shadow: 0 0 #efefef;
		height: 1em;
	}

	40% {
		box-shadow: 0 -1.5em #efefef;
		height: 1.5em;
	}
}
/* animate-end */